@page
@model WebApplication1.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <img src="~/images/AboutBanner.jpg"  style="width:100%" />
    <p>It all started in the Colombo, Sri Lanka…The idea and name for Donut Delight originated in Colombo, Sri Lanka where my family and I vacationed for many years. We enjoyed all there was to see and do in the quiet, family-oriented town, but we noticed there was nowhere to get that sweet staple of happiness—a warm, fresh donut. What started as a whim developed into fun recipe sessions, many months of research and collaboration, and eventually led to the first Donut Delight opening in the town of Colombo in 2021! We soon found that our warm, delicious, and made-to-order donuts paired with a great selection of coffees were a recipe for success! We expanded to other locations and states and added many franchise owners to our Donut Delight family. Along the way, we have kept our focus on delighting our guests by offering a welcoming, family-friendly and delicious experience to everyone that visits one of our shops. The teams who manage and work in our stores make all the difference and we are very proud of their dedication and contributions.We love to create donuts, deliver smiles, and sprinkle happiness! Stop by one of our locations and try us out. We hope you will agree. This is our family serving your family, and we want you to come back!</p>
</div>

