@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/logo.png" class="rounded-pill" style="width:100%" />
   
    <div>
        <p>Our seasonal Delight Combo </p>
        <img src="~/images/Special.jpg"  style="width:300px;margin-left:5px;border-radius:10px" />
        <img src="~/images/Special2.jpg" style="width:300px;margin-left:5px;border-radius:10px" />
        <p>Dipped in Chocolate and Caramel</p>
        <p>Sprinkled with Holiday Sprinkles is Only at 9.50$</p>
        <a class="btn btn-primary" asp-area="" asp-page="/ThankYou">Bring me this!!!!</a>
    </div>
</div>
