@page
@model WebApplication1.Pages.ThankYouModel
@{
    ViewData["Title"] = "Thank you";
}
<div >
    <p style="font-size:50px" class="display-4">Thank you for Ordering with Us at Donut Delight!</p>
    <img src="~/images/thankD.gif" style="margin:0;padding:0;"/>

</div>
